<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teapopo.life" >
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.ImagePagerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.activity.SignInAndUpActivity"
            android:theme="@style/AppTheme.NoActionBar.SwipeBack"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ArticleDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.SwipeBack"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.PublishArticleActivity"
            android:theme="@style/AppTheme.NoActionBar.SwipeBack"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.GoodsHandleActivity"
            android:theme="@style/AppTheme.NoActionBar.SwipeBack"
            android:screenOrientation="portrait"/>
        <!-- mob分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1104808289" />

                <action android:name="android.intent.action.VIEW" />

                <tag android:name="android.intent.tag.BROWSABLE" />
                <tag android:name="android.intent.tag.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <tag android:name="android.intent.tag.DEFAULT" />
            </intent-filter>

            <!-- alipay sdk begin -->
            <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind" >
            </activity>


            <activity
                android:name="com.alipay.sdk.auth.AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind" >
            </activity>
            <!-- alipay sdk end -->
        </activity>
    </application>

</manifest>
